<ion-content  class="background">

  <ion-title   text-align>
     <h1 class="tille_classe"> CHARGINI </h1>
  </ion-title>

  <div class="rectangle">
    <ion-text>
      <h2 class="text_in_rectangle">Choisissez votre opérateur</h2>
    </ion-text>
  </div>


  <div class="ion-align-self-center" class="ion-padding" style="position: relative;left: 15px">


     <img (click)="chose_operateur(100)" src="assets/orange.png" class="img">

     <img (click)="chose_operateur(123)"src="assets/TT.jpg" class="img">


     <img (click)="chose_operateur(101)"src="assets/ooredoo.jpg" class="img">
     <img (click)="chose_operateur(123)" src="assets/css.jpeg" class="img">

  </div>

</ion-content>

